@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;
    color: #243e63;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;

    
}

.logo {
    width: 300px;
    align-content: center;
}
.logo__title{
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    

}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}
}
